@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/* CSS Custom Properties */
:root {
  /* Colors */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}

/* Advice Card */
.advice-card {
  background-color: var(--dark-grayish);
  border-radius: 12px;
  text-align: center;
  padding: 1.6rem;
  max-width: 380px;
  position: relative;
}

.advice-card small {
  color: var(--neon-green);
  font-size: 9px;
  letter-spacing: 2px;
}

.advice-card #quote {
  padding: 1.5rem 0;
  color: var(--light-cyan);
  font-size: 20px;
  line-height: 30px;
}

.divider {
  background-color: transparent;
  margin-bottom: 2.5rem;
}

a.icon-dice {
  display: inline-block;
  background-color: var(--neon-green);
  padding: 0.9rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  margin-top: 1.5rem;
  transition: 0.35s ease;
}

a.icon-dice:hover {
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  box-shadow: #43e97b 0px 5px 30px 8px;
}
